  <nav>
    <ul>
      <li>
       {% if page.id == "index" %}
         <a href="index.html" class="fbold">Log</a>
        {% else %}
          <a href="index.html">Log</a>
        {% endif %}
      </li>
      <li>
       {% if page.id == "musik" %}
         <a href="musik.html" class="fbold">Musik</a>
        {% else %}
          <a href="musik.html">Musik</a>
        {% endif %}
      </li>
      <li>
       {% if page.id == "fun" %}
         <a href="fun.html" class="fbold">Sarkasmus</a>
        {% else %}
          <a href="fun.html">Sarkasmus</a>
        {% endif %}
      </li>
    </ul>
  </nav>