
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: justify;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: Black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #FFE394;
  padding-top: 20px;
}

#wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 992px;
  margin: 0px auto;
  grid-gap: 0px;
  padding: 0px; 
}

header{ 
  grid-row: 1;
  grid-column: 1 / span 6;
  padding: 20px;
  background-color: White;
}

nav{ 
  grid-row: 2;
  grid-column: 1 / span 6;
  padding: 10px 0px 10px 20px;
  background-color: LightGray;
}

#left{ 
  grid-row: 3;
  grid-column: 1 / span 3;
  padding: 20px 20px 20px 20px;
  background-color: Linen;
}

#right{ 
  grid-row: 3;
  grid-column: 4 / span 3;
  background-color: White;
}

#center{ 
  grid-row: 3;
  grid-column: 1 / span 6;
  padding: 20px 20px 20px 20px;
  background-color: Linen;
}


.comment {
  /*background-color: LightGray;*/
  padding: 20px 20px 20px 20px;
}

.comment p {
  font-size: 18px;
  line-height: 20px;
}

img{
  display: inline-block;
}

#right img{
  width: 100%;
}

#story img{
  width: 120px;
}

#gal4x4{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  padding: 0px;
  /*background-color: darkgray;*/
}

#gal4x4 img{
  width: 123px;
  height: 123px;
}

h1, h1 a {
  font-size: 28px;
  line-height: 32px;
}

h2, h2 a { 
  font-size: 24px; 
  line-height: 28px; 
  padding-bottom: 20px;
}

h3, h3 a { 
  font-size: 20px; 
  line-height: 24px; 
  padding-bottom: 20px;
}

p, p a { 
  padding-bottom: 20px;
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
  color: Black;
}

nav li{
  list-style: none;
  text-align: left;
  display: inline;
}

li {
  /*list-style-image: url("/img/listitem.png");*/
  margin-left: 20px;
  text-align: left;
}

.fbold {
  font-weight: bold;
}

.fitalic {
  font-style: italic;
  letter-spacing: 1px;
}

.gap {
  padding-bottom: 20px;
}

.tiny-gap {
  padding-bottom: 4px;
}

.small-gap {
  padding-bottom: 10px;
}

.huge-gap {
  padding-bottom: 30px;
}

#gal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px;
  padding: 0px;
  grid-gap: 0px;
}

#story{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 20px;
  /*background-color: darkgray;*/
}

#gal4x4{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  padding: 0px;
  /*background-color: darkgray;*/
}


