
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: Black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
  display: block;
}

body {
  background-color: #FFE394;
}

#wrapper{
  width: 60em;
  margin: 0px auto;
}

@media screen and (max-width: 920px) {
  body {
    width: 100%;
  }
  #wrapper{
    width: 100%;
  }
}

header{ 
  background-color: White;
  margin: 0.75em 0 0.25em 0;
}

header h1{ 
  font-size: 2em;
  line-height: 2.4em;
  margin: auto 1em;
  padding: 0;
}
header img{ 
  width: 10em;
  background-color: LightBlue;
}

nav{ 
  padding: 0.75em 0 0.6em 0.75em;
  margin: 0 0 0.25em 0;
  background-color: LightGray;
}

article{
  background-color: White;
  padding: 0 1.25em 1.25em 1.25em;
}

h1, h1 a {
  font-size: 2em;
  line-height: 2.25em;
  padding: 1.25em 0;
}

h2, h2 a { 
  font-size: 1.4em; 
  line-height: 1.6em; 
  padding: 1.25em 0 0.5em 0;
}

h3, h3 a { 
  font-size: 1.2em; 
  line-height: 1.4em; 
  padding: 1.25em 0 0.5em 0;
}

p { 
  padding: 0 0 0.75em 0;
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
  color: Blue;
}

nav li{
  list-style: none;
  display: inline;
}

li {
  margin-right: 1.25em;
}

.fbold {
  font-weight: bold;
  font-size: 100%;
}

.fitalic {
  font-style: italic;
  letter-spacing: 0.6em;
}

.underline {
  text-decoration: underline;
}

.gap {
  padding-bottom: 1.25em;
}
