<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/static/responding.css" media="all">

    <link rel="stylesheet" href="/static/custom.css">

    <!-- script src="/scripts/jquery-1.11.1.min.js"></script -->
      
    <title> {{ page.title }} </title>

    <script>
      $(document).ready(function() {
        // 
      });
    </script>
  </head>

  <body id="{{ page.id }}">
    <div id="wrapper">
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
