<!DOCTYPE html>

<html lang="de">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/all.css" media="all"></link>

    <script src="/static/jquery-1.11.1.min.js"></script>

    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrapper">

      {% include _header.html %}
      
      {% include _nav.html %}

      {{ content }}

    </div> <!-- end wrapper -->
  </body>

</html>
