<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/styles/responding.css" media="all">

    <link rel="stylesheet" href="/styles/custom.css">

    <!-- script src="/static/jquery-1.11.1.min.js"></script -->
      
    <title> {{ page.title }} </title>

    <script>
      $(document).ready(function() {
        // 
      });
    </script>
  </head>

  <body id="{{ page.id }}">

    {% include header.html %}

    <div id="wrapper">
      <div id="content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
