
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Trebuchet MS", Copperplate, "Myriad Pro", Arial, sans-serif;
    font-size: 16px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    margin: 0px auto;
    width: 720px;
}

#wrapper {
    border-radius: 8px;
}

header {
    border-radius: 8px;
    margin: 20px 0px 10px 0px;
    padding: 20px;
    background-color: Linen;
    text-align: center;
}

header a, header a:link, header a:visited, header a:active {
    color: Black;
}

#content {
    padding: 10px;
    max-width: 720px;
    min-height: 240px;
}

#footer {
    margin-top: 20px;
    padding: 10px;
    background-color: Linen;
    min-height: 40px;
}

h1, h1 * {
    font-size: 26px;
    padding: 10px 0px 10px 0px;
}


h2, h2 * {
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

h3, h3 * {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

p, p * {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

a, 
a:link, 
a:visited,
a:active {
    /*color: Black;*/
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

li {
    list-style-type: square;
    margin-left: 20px;
}

.fontbold {
    font-weight: bold;
}

.twocols {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    -moz-column-gap: 0px; /* Firefox */
    -webkit-column-gap: 0px; /* Safari and Chrome */
    column-gap: 0px;
}

img {
  display: block;
}

.gallery {
    width: 240px;
    height: 240px;
}

.gallery img {
    width: 100%;
}

.gap {
  padding-bottom: 20px;
}

.small-gap {
  padding-bottom: 10px;
}

.huge-gap {
  padding-bottom: 30px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  font-size:16px;
}
